/* element css */
:root {
    --spotify-green: hsl(141, 76%, 48%);
    --main-gradient-dark1: hsl(210, 10%, 15%);
    --main-gradient-dark2: hsl(272, 52%, 15%);
}

html {
    font-family: sans-serif, Arial;
    font-size: 16px;
}

body {
    color: white;
    margin: 0;
    
    /* gradient! */
    background: linear-gradient(180deg, var(--main-gradient-dark1) 5%, var(--main-gradient-dark2) 100%);
    
    /* ensure background doesn't repeat */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* all about links */
a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: hsl(180, 100%, 50%);
}

a:active {
    color: hsl(180, 100%, 40%);
}


/* class css */
/* navigation bar */
.navbar-container {
    background: black;
    border: 0 black;
    border-style: none none outset solid;
    transition: border 0.2s linear;
}

.navbar-container:hover {
    border: 5px var(--spotify-green);
    border-style: none none outset solid;
    transition: border 0.2s linear;
}

.navbar > ul {
    /* flex display */
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 2vh;
}

.li-item:not(:nth-of-type(1)) {
    padding-left: 2vw;
}

.logo {
    width: 64px;
    height: 64px;
    margin-right: auto;
    clip-path: circle(50%);
    transition: all 0.35s ease;
}

.logo:hover {
    clip-path: circle(100%);
    transition: all 0.75s ease;
}